.navbar.navbar-default.navbar-fixed-top
	.container
		.navbar-header
		a.navbar-brand(href='/') Loc8r
		button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
			span.icon-bar
			span.icon-bar
			span.icon-bar
		#navbar-main.navbar-collapse.collapse
			ul.nav.navbar-nav
				li
					a(href='/about/') About
			ul.nav.navbar-nav.navbar-right
				li(ng-hide='navvm.isLoggedIn')
					a(href='/#login/?page={{ navvm.currentPath }}') Sign in
				li.dropdown(ng-show='navvm.isLoggedIn')
					a.dropdown-toggle(href='', data-toggle='dropdown') {{ navvm.currentUser.name }} 
						span.caret
						ul.dropdown-menu(role='menu')
							li
								a(href='', ng-click='navvm.logout()') Logout
