doctype html
html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/bootstrap/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/jquery/jquery.js')
		script(src='/bootstrap/bootstrap.js')
	body
		block content