doctype html
html(ng-app="loc8rApp")
	head
		title Loc8r
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/bootswatch-dist/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		base(href="/")

	body(ng-view)

	script(src='/angular/angular.min.js')
	script(src='/angular-route/angular-route.js')
	script(src='/angular-sanitize/angular-sanitize.js')
	script(src='/ui-bootstrap/ui-bootstrap-custom-1.1.2.min.js')
	script(src='/ui-bootstrap/ui-bootstrap-custom-tpls-1.1.2.min.js')
	script(src='/angular/loc8rApp.js')
	script(src='/jquery/jquery.js')
	script(src='/bootswatch-dist/bootstrap.min.js')
		